
.alert {
    margin: auto;
    position: absolute;
    display: none;
    padding: 20px;
    width: 500px;
    top: 300px;
    left: 0;
    right: 0;
    border: solid yellow 1px;
    background-color: #666;
    color:white;
    font-size: 1.4em;
    text-align-last: center;
    z-index: 100;
}

#refreshButton {
    float:right;
    cursor: pointer;
}

body {
    background-color: #444;
}

span {
    color: #ddd;
}

@media (orientation: portrait) {
    body {
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
    }
  }
  